<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C043B501F72E6EE003E0E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C043B641F72E6EE003E0E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C043B6F1F72E6EE003E0E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
